.box{
    height: 450px;
    width: 250px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 2px solid black;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}

