.card{
    height: 450px;
    width: 250px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    background-color: rgb(213, 213, 247);
    text-align: center;
    box-shadow: 0px 0px 10px black;

}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
