.leena{
    color:red;
}
#box1{
    height: 100px;
    width: 100px;
    background-color: blue;
    padding: 10px;
    border: 5px solid black;
    margin: 5px;
    border-radius: 50%;
    float: right;
    position:absolute;
}

#box2{
    height: 100px;
    width: 100px;
    background-color: maroon;
    padding: 10px;
    border: 5px solid black;
    margin: 5px;
    border-radius: 50%;
    float: right;

}

#box3{
    height: 100px;
    width: 100px;
    background-color: green;
    padding: 10px;
    border: 5px solid black;
    margin: 5px;
    border-radius: 50%;
    float: right;
}

#div1{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    padding: 5px;
    margin: 5px;
}
#div2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blue;
    padding: 5px;
    margin: 5px;
}
#div3{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: red;
    padding: 5px;
    margin: 5px;
}
#box1:hover{
    background-color: yellow;
    border-radius: 20%;
    box-shadow: 0px 0px 20px black;
    
     
}