body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    padding: 20px;
}
.title{
    text-align: center;
    margin-bottom: 10px;
}

.timetable{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
}

.timetable th ,.timetable td{
    border: 1px solid white;
    padding: 12px;
    text-align: center;
}
.timetable th{
    border: 1px solid white;
    background-color: black;
    color:white;
}

.break{
    background-color: yellow;
    font-weight: 900;
}

.lunchbreak{
    background-color: yellow;
    font-weight: 900;
}